* {
    font-family: "RocknRoll One", sans-serif;
}

html {
    font-weight: 400;
    font-style: normal;
    color: var(--black);
}

::selection {
    color: var(--white);
    background-color: #51a2fc;
}

/* - - - - - - - - - */

/* a */

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:not(.button, .camo) {
    color: #51a2fc;
}

a:hover:active {
    color: inherit;
}

/* - - - - - - - - - */

@media only screen and not (max-width: 719px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 719px) {
    html {
        font-size: 12px;
    }
}

/* - - - - - - - - - */