* {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
}

.tooltip {
    text-decoration: underline dotted var(--white);
}

.quote {
    margin: 0 10px;
}

[id*="-textbox"] {
    width: 100%;
    height: 100px;
    font-size: 18px;
    resize: none;
}

#active {
    background-color: var(--a_lightblue);
}

#bgpic {
    position: fixed;
    bottom: -30%;
    right: -10%;
    opacity: 0.45;
    z-index: -99;
}