main {
    background: transparent;
}

.tooltip {
    text-decoration: underline dotted var(--white);
}

.quote {
    margin: 0 10px;
}

[id*="-textbox"] {
    width: 100%;
    height: 100px;
    resize: none;
}

#active {
    background-color: var(--a_lightblue);
}

#viewport {
    background: url("images/surtr_trans.png") right -10vw bottom -25vh no-repeat, linear-gradient(var(--vpdeg), var(--a_darkerblue), var(--a_darkgray));
    background-size: 45%;
}